'.text.html.php, .source.php':

  'deleteHeader':
    'prefix': 'deleteHeader'
    'body': '\$I->deleteHeader(\'${1:header}\');${0:}'

  'dontSeeHttpHeader':
    'prefix': 'dontSeeHttpHeader'
    'body': '\$I->dontSeeHttpHeader(\'${1:name}\', \'${2:value}\');${0:}'

  'dontSeeResponseCodeIs':
    'prefix': 'dontSeeResponseCodeIs'
    'body': '\$I->dontSeeResponseCodeIs(\'${1:code}\');${0:}'

  'dontSeeResponseContains':
    'prefix': 'dontSeeResponseContains'
    'body': '\$I->dontSeeResponseContains(\'${1:text}\');${0:}'

  'dontSeeResponseContainsJson':
    'prefix': 'dontSeeResponseContainsJson'
    'body': '\$I->dontSeeResponseContainsJson();${0:}'

  'dontSeeResponseJsonMatchesJsonPath':
    'prefix': 'dontSeeResponseJsonMatchesJsonPath'
    'body': '\$I->dontSeeResponseJsonMatchesJsonPath(\'${1:jsonPath}\');${0:}'

  'dontSeeResponseMatchesJsonType':
    'prefix': 'dontSeeResponseMatchesJsonType'
    'body': '\$I->dontSeeResponseMatchesJsonType(\'[]\');${0:}'

  'dontSeeXmlResponseEquals':
    'prefix': 'dontSeeXmlResponseEquals'
    'body': '\$I->dontSeeXmlResponseEquals(\'${1:xml}\');${0:}'

  'dontSeeXmlResponseIncludes':
    'prefix': 'dontSeeXmlResponseIncludes'
    'body': '\$I->dontSeeXmlResponseIncludes(\'${1:xml}\');${0:}'

  'dontSeeXmlResponseMatchesXpath':
    'prefix': 'dontSeeXmlResponseMatchesXpath'
    'body': '\$I->dontSeeXmlResponseMatchesXpath(\'${1:xpath}\');${0:}'

  'grabAttributeFromXmlElement':
    'prefix': 'grabAttributeFromXmlElement'
    'body': '\$I->grabAttributeFromXmlElement(\'${1:cssOrXPath}\', \'${2:attribute}\');${0:}'

  'grabDataFromResponseByJsonPath':
    'prefix': 'grabDataFromResponseByJsonPath'
    'body': '\$I->grabDataFromResponseByJsonPath(\'${1:jsonPath}\');${0:}'

  'grabHttpHeader':
    'prefix': 'grabHttpHeader'
    'body': '\$I->grabHttpHeader(\'${1:header name}\');${0:}'

  'grabResponse':
    'prefix': 'grabResponse'
    'body': '\$I->grabResponse();${0:}'

  'grabTextContentFromXmlElement':
    'prefix': 'grabTextContentFromXmlElement'
    'body': '\$I->grabTextContentFromXmlElement(\'${1:cssOrXPath}\');${0:}'

  'seeHttpHeaderOnce':
    'prefix': 'seeHttpHeaderOnce'
    'body': '\$I->seeHttpHeaderOnce(\'${1:header name}\');${0:}'

  'seeResponseContains':
    'prefix': 'seeResponseContains'
    'body': '\$I->seeResponseContains(\'${1:text}\');${0:}'

  'seeResponseContainsJson':
    'prefix': 'seeResponseContainsJson'
    'body': '\$I->seeResponseContainsJson(array(\'${1:key}\' => \'${2:value}\'));${0:}'

  'seeResponseEquals':
    'prefix': 'seeResponseEquals'
    'body': '\$I->seeResponseEquals(\'${1:expected response}\');${0:}'

  'seeResponseIsJson':
    'prefix': 'seeResponseIsJson'
    'body': '\$I->seeResponseIsJson();${0:}'

  'seeResponseIsXml':
    'prefix': 'seeResponseIsXml'
    'body': '\$I->seeResponseIsXml();${0:}'

  'seeResponseJsonMatchesXpath':
    'prefix': 'seeResponseJsonMatchesXpath'
    'body': '\$I->seeResponseJsonMatchesXpath(\'${1:xpath}\');${0:}'

  'seeXmlResponseEquals':
    'prefix': 'seeXmlResponseEquals'
    'body': '\$I->seeXmlResponseEquals(\'${1:xml}\');${0:}'

  'seeXmlResponseIncludes':
    'prefix': 'seeXmlResponseIncludes'
    'body': '\$I->seeXmlResponseIncludes(\'${1:xpath}\');${0:}'

  'sendDELETE':
    'prefix': 'sendDELETE'
    'body': '\$I->sendDELETE(\'${1:url}\', \'${2:params}\', \'${2:files}\');${0:}'

  'sendGET':
    'prefix': 'sendGET'
    'body': '\$I->sendGET(\'${1:url}\', \'${2:params}\');${0:}'

  'sendHEAD':
    'prefix': 'sendHEAD'
    'body': '\$I->sendHEAD(\'${1:url}\', \'${2:params}\');${0:}'

  'sendLINK':
    'prefix': 'sendLINK'
    'body': '\$I->sendLINK(\'${1:url}\', \'${2:link}\');${0:}'

  'sendOPTIONS':
    'prefix': 'sendOPTIONS'
    'body': '\$I->sendOPTIONS(\'${1:url}\', \'${2:params}\');${0:}'

  'sendPATCH':
    'prefix': 'sendPATCH'
    'body': '\$I->sendPATCH(\'${1:url}\', \'${2:params}\', \'${2:files}\');${0:}'

  'sendPOST':
    'prefix': 'sendPOST'
    'body': '\$I->sendPOST(\'${1:url}\', \'${2:params}\', \'${2:files}\');${0:}'

  'sendPUT':
    'prefix': 'sendPUT'
    'body': '\$I->sendPUT(\'${1:url}\', \'${2:params}\', \'${2:files}\');${0:}'

  'sendUNLINK':
    'prefix': 'sendUNLINK'
    'body': '\$I->sendUNLINK(\'${1:url}\', \'${2:link}\');${0:}'

  'startFollowingRedirects':
    'prefix': 'startFollowingRedirects'
    'body': '\$I->startFollowingRedirects();${0:}'

  'stopFollowingRedirects':
    'prefix': 'stopFollowingRedirects'
    'body': '\$I->stopFollowingRedirects();${0:}'

  'seeResponseJsonMatchesJsonPath':
    'prefix': 'seeResponseJsonMatchesJsonPath'
    'body': '\$I->seeResponseJsonMatchesJsonPath(\'\');${0:}'

  'assertArrayHasKey':
    'prefix': 'assertArrayHasKey'
    'body': '\$I->assertArrayHasKey(\'${1:key}\', \'${2:actual}\', \'${3:description}\');${0:}'

  'assertArrayNotHasKey':
    'prefix': 'assertArrayNotHasKey'
    'body': '\$I->assertArrayNotHasKey(\'${1:key}\', \'${2:actual}\', \'${3:description}\');${0:}'

  'assertContains':
    'prefix': 'assertContains'
    'body': '\$I->assertContains(\'${1:needle}\', \'${2:haystack}\', \'${3:message}\');${0:}'

  'assertEmpty':
    'prefix': 'assertContains'
    'body': '\$I->assertContains(\'${1:actual}\', \'${2:message}\');${0:}'

  'assertEquals':
    'prefix': 'assertEquals'
    'body': '\$I->assertEquals(\'${1:expected}\', \'${2:actual}\', \'${3:message}\');${0:}'

  'assertFalse':
    'prefix': 'assertFalse'
    'body': '\$I->assertFalse(\'${1:condition}\', \'${2:message}\');${0:}'

  'assertFileExists':
    'prefix': 'assertFileExists'
    'body': '\$I->assertFileExists(\'${1:filename}\', \'${2:message}\');${0:}'

  'assertFileNotExists':
    'prefix': 'assertFileNotExists'
    'body': '\$I->assertFileNotExists(\'${1:filename}\', \'${2:message}\');${0:}'

  'assertGreaterOrEquals':
    'prefix': 'assertGreaterOrEquals'
    'body': '\$I->assertGreaterOrEquals(\'${1:expected}\', \'${2:actual}\', \'${3:description}\');${0:}'

  'assertGreaterThan':
    'prefix': 'assertGreaterThan'
    'body': '\$I->assertGreaterThan(\'${1:expected}\', \'${2:actual}\', \'${3:description}\');${0:}'

  'assertGreaterThanOrEqual':
    'prefix': 'assertGreaterThanOrEqual'
    'body': '\$I->assertGreaterThanOrEqual(\'${1:expected}\', \'${2:actual}\', \'${3:description}\');${0:}'

  'assertInstanceOf':
    'prefix': 'assertInstanceOf'
    'body': '\$I->assertInstanceOf(\'${1:class}\', \'${2:actual}\', \'${3:description}\');${0:}'

  'assertInternalType':
    'prefix': 'assertInternalType'
    'body': '\$I->assertInternalType(\'${1:assertInternalType}\', \'${2:actual}\', \'${3:description}\');${0:}'

  'assertIsEmpty':
    'prefix': 'assertIsEmpty'
    'body': '\$I->assertIsEmpty(\'${1:actual}\', \'${2:description}\');${0:}'

  'assertLessOrEquals':
    'prefix': 'assertLessOrEquals'
    'body': '\$I->assertLessOrEquals(\'${1:expected}\', \'${2:actual}\', \'${2:description}\');${0:}'

  'assertLessThan':
    'prefix': 'assertLessThan'
    'body': '\$I->assertLessThan(\'${1:expected}\', \'${2:actual}\', \'${3:description}\');${0:}'

  'assertLessThanOrEqual':
    'prefix': 'assertLessThanOrEqual'
    'body': '\$I->assertLessThanOrEqual(\'${1:expected}\', \'${2:actual}\', \'${3:description}\');${0:}'

  'assertNotContains':
    'prefix': 'assertNotContains'
    'body': '\$I->assertNotContains(\'${1:needle}\', \'${2:haystack}\', \'${3:description}\');${0:}'

  'assertNotEmpty':
    'prefix': 'assertNotEmpty'
    'body': '\$I->assertNotEmpty(\'${1:actual}\', \'${2:message}\');${0:}'

  'assertNotEquals':
    'prefix': 'assertNotEquals'
    'body': '\$I->assertNotEquals(\'${1:expected}\', \'${2:actual}\', \'${3:message}\');${0:}'

  'assertNotInstanceOf':
    'prefix': 'assertNotInstanceOf'
    'body': '\$I->assertNotInstanceOf(\'${1:class}\', \'${2:actual}\', \'${3:description}\');${0:}'

  'assertNotNull':
    'prefix': 'assertNotNull'
    'body': '\$I->assertNotNull(\'${1:actual}\', \'${2:message}\');${0:}'

  'assertNotRegExp':
    'prefix': 'assertNotRegExp'
    'body': '\$I->assertNotRegExp(\'${1:pattern}\', \'${2:string}\', \'${3:message}\');${0:}'

  'assertNotSame':
    'prefix': 'assertNotSame'
    'body': '\$I->assertNotSame(\'${1:assertNotSame}\', \'${2:actual}\', \'${3:message}\');${0:}'

  'assertNull':
    'prefix': 'assertNull'
    'body': '\$I->assertNull(\'${1:actual}\', \'${2:message}\');${0:}'

  'assertRegExp':
    'prefix': 'assertRegExp'
    'body': '\$I->assertRegExp(\'${1:pattern}\', \'${2:string}\', \'${3:message}\');${0:}'

  'assertSame':
    'prefix': 'assertSame'
    'body': '\$I->assertSame(\'${1:expected}\', \'${2:actual}\', \'${3:message}\');${0:}'

  'assertTrue':
    'prefix': 'assertTrue'
    'body': '\$I->assertTrue(\'${1:condition}\', \'${2:message}\');${0:}'

  'fail':
    'prefix': 'fail'
    'body': '\$I->fail(\'${1:message}\');${0:}'

  'seeResponseMatchesJsonType':
    'prefix': 'seeResponseMatchesJsonType'
    'body': '\$I->seeResponseMatchesJsonType(\'[]\');${0:}'

  'acceptPopup':
    'prefix': 'acceptPopup'
    'body': '\$I->acceptPopup();${0:}'

  'amHttpAuthenticated':
    'prefix': 'amHttpAuthenticated'
    'body': '\$I->amHttpAuthenticated(\'${1:username}\', \'${2:password}\');${0:}'

  'amLoggedAs':
    'prefix': 'amLoggedAs'
    'body': '\$I->amLoggedAs(${1:\$user}, ${2:\$driver});${0:}'

  'amGoingTo':
    'prefix': 'amGoingTo'
    'body': '\$I->amGoingTo(\'\');${0:}'

  'amInPath':
    'prefix': 'amInPath'
    'body': '\$I->amInPath(\'${1:path}\');${0:}'

  'amOnPage':
    'prefix': 'amOnPage'
    'body': '\$I->amOnPage(\'${1:path}\');${0:}'

  'amOnSubdomain':
    'prefix': 'amOnSubdomain'
    'body': '\$I->amOnSubdomain(\'${1:subdomain}\');${0:}'

  'appendField':
    'prefix': 'appendField'
    'body': '\$I->appendField(\'${1:field}\', \'${2:value}\');${0:}'

  'attachFile':
    'prefix': 'attachFile'
    'body': '\$I->attachFile(\'${1:field}\', \'${2:filename}\');${0:}'

  'blur':
    'prefix': 'blur'
    'body': '\$I->blur(\'${1:selector}\');${0:}'

  'cancelPopup':
    'prefix': 'cancelPopup'
    'body': '\$I->cancelPopup();${0:}'

  'checkOption':
    'prefix': 'checkOption'
    'body': '\$I->checkOption(\'${1:option}\');${0:}'

  'cleanDir':
    'prefix': 'cleanDir'
    'body': '\$I->cleanDir(\'${1:dirname}\');${0:}'

  'cleanupRedis':
    'prefix': 'cleanupRedis'
    'body': '\$I->cleanupRedis();${0:}'

  'clearMemcache':
    'prefix': 'clearMemcache'
    'body': '\$I->clearMemcache();${0:}'

  'click':
    'prefix': 'click'
    'body': '\$I->click(\'${1:selector}\');${0:}'

  'clickWithRightButton':
    'prefix': 'clickWithRightButton'
    'body': '\$I->clickWithRightButton(\'${1:selector}\');${0:}'

  'copyDir':
    'prefix': 'copyDir'
    'body': '\$I->copyDir(\'${1:src}\', \'${2:dst}\');${0:}'

  'comment':
    'prefix': 'comment'
    'body': '\$I->comment(\'\');${0:}'

  'wantToTest':
    'prefix': 'wantToTest'
    'body': '\$I->wantToTest(\'\');${0:}'

  'PickFromList':
    'prefix': 'PickFromList'
    'body': '\$I->PickFromList(\'${1:value}\');${0:}'

  'deleteDir':
    'prefix': 'deleteDir'
    'body': '\$I->deleteDir(\'${1:dirname}\');${0:}'

  'deleteFile':
    'prefix': 'deleteFile'
    'body': '\$I->deleteFile(\'${1:filename}\');${0:}'

  'deleteThisFile':
    'prefix': 'deleteThisFile'
    'body': '\$I->deleteThisFile();${0:}'

  'dontSee':
    'prefix': 'dontSee'
    'body': '\$I->dontSee(\'${1:text}\', \'${2:selector}\');${0:}'

  'dontSeeCheckboxIsChecked':
    'prefix': 'dontSeeCheckboxIsChecked'
    'body': '\$I->dontSeeCheckboxIsChecked(\'${1:checkboxOrSelector}\');${0:}'

  'dontSeeCookie':
    'prefix': 'dontSeeCookie'
    'body': '\$I->dontSeeCookie(\'${1:cookie}\');${0:}'

  'dontSeeCurrentUrlEquals':
    'prefix': 'dontSeeCurrentUrlEquals'
    'body': '\$I->dontSeeCurrentUrlEquals(\'${1:uri}\');${0:}'

  'dontSeeCurrentUrlMatches':
    'prefix': 'dontSeeCurrentUrlMatches'
    'body': '\$I->dontSeeCurrentUrlMatches(\'${1:regex}\');${0:}'

  'dontSeeElement':
    'prefix': 'dontSeeElement'
    'body': '\$I->dontSeeElement(\'${1:selector}\');${0:}'

  'dontSeeElementInDOM':
    'prefix': 'dontSeeElementInDOM'
    'body': '\$I->dontSeeElementInDOM(\'${1:selector}\');${0:}'

  'dontSeeInCollection':
    'prefix': 'dontSeeInCollection'
    'body': '\$I->dontSeeInCollection(\'${1:collection}\', ${2:\$criteria});${0:}'

  'dontSeeInCurrentUrl':
    'prefix': 'dontSeeInCurrentUrl'
    'body': '\$I->dontSeeInCurrentUrl(\'${1:uri}\');${0:}'

  'dontSeeInDatabase':
    'prefix': 'dontSeeInDatabase'
    'body': '\$I->dontSeeInDatabase(\'${1:table}\', ${2:\$criteria});${0:}'

  'dontSeeInField':
    'prefix': 'dontSeeInField'
    'body': '\$I->dontSeeInField(\'${1:field}\', \'${2:value}\');${0:}'

  'dontSeeInMemcached':
    'prefix': 'dontSeeInMemcached'
    'body': '\$I->dontSeeInMemcached(\'${1:key}\', \'${2:value}\');${0:}'

  'dontSeeInRepository':
    'prefix': 'dontSeeInRepository'
    'body': '\$I->dontSeeInRepository(\'${1:entity}\', ${2:\$params});${0:}'

  'dontSeeInShellOutput':
    'prefix': 'dontSeeInShellOutput'
    'body': '\$I->dontSeeInShellOutput(\'${1:text}\');${0:}'

  'dontSeeInTable':
    'prefix': 'dontSeeInTable'
    'body': '\$I->dontSeeInTable(\'${1:model}\', ${2:\$values});${0:}'

  'dontSeeInThisFile':
    'prefix': 'dontSeeInThisFile'
    'body': '\$I->dontSeeInThisFile(\'${1:text}\');${0:}'

  'dontSeeInTitle':
    'prefix': 'dontSeeInTitle'
    'body': '\$I->dontSeeInTitle(\'${1:title}\');${0:}'

  'dontSeeLink':
    'prefix': 'dontSeeLink'
    'body': '\$I->dontSeeLink(\'${1:text}\'${2:, \'${3:url}\'});${0:}'

  'dontSeeOptionIsSelected':
    'prefix': 'dontSeeOptionIsSelected'
    'body': '\$I->dontSeeOptionIsSelected(\'${1:selector}\'${2:, \'${3:optionText}\'});${0:}'

  'doubleClick':
    'prefix': 'doubleClick'
    'body': '\$I->doubleClick(\'${1:cssOrXPath}\');${0:}'

  'dragAndDrop':
    'prefix': 'dragAndDrop'
    'body': '\$I->dragAndDrop(\'${1:sourceXPathOrID}\', \'${2:targetXPathOrID}\');${0:}'

  'executeInGuzzle':
    'prefix': 'executeInGuzzle'
    'body': '\$I->executeInGuzzle(${1:\$callback});${0:}'

  'executeInSelenium':
    'prefix': 'executeInSelenium'
    'body': '\$I->executeInSelenium(${1:function(\\WebDriver \$webdriver) \{ $webdriver->get(\'${2:url}\'); \}});${0:}'

  'executeJS':
    'prefix': 'executeJS'
    'body': '\$I->executeJS(\'${1:script}\');${0:}'

  'fillField':
    'prefix': 'fillField'
    'body': '\$I->fillField(\'${1:selector}\', \'${2:value}\');${0:}'

  'flushToDatabase':
    'prefix': 'flushToDatabase'
    'body': '\$I->flushToDatabase();${0:}'

  'focus':
    'prefix': 'focus'
    'body': '\$I->focus(\'${1:selector}\');${0:}'

  'getName':
    'prefix': 'getName'
    'body': '\$I->getName(${1:});${0:}'

  'grabCookie':
    'prefix': 'grabCookie'
    'body': '\$I->grabCookie(\'${1:cookie}\');${0:}'

  'grabFacebookTestUserAccessToken':
    'prefix': 'grabFacebookTestUserAccessToken'
    'body': '\$I->grabFacebookTestUserAccessToken();${0:}'

  'grabFacebookTestUserEmail':
    'prefix': 'grabFacebookTestUserEmail'
    'body': '\$I->grabFacebookTestUserEmail();${0:}'

  'grabFacebookTestUserFirstName':
    'prefix': 'grabFacebookTestUserFirstName'
    'body': '\$I->grabFacebookTestUserFirstName();${0:}'

  'grabFacebookTestUserLoginUrl':
    'prefix': 'grabFacebookTestUserLoginUrl'
    'body': '\$I->grabFacebookTestUserLoginUrl();${0:}'

  'grabFromCollection':
    'prefix': 'grabFromCollection'
    'body': '\$I->grabFromCollection(\'${1:collection}\', ${2:\$criteria});${0:}'

  'grabFromCurrentUrl':
    'prefix': 'grabFromCurrentUrl'
    'body': '\$I->grabFromCurrentUrl(${1:\'uri\'}${2:, \'${3:url}\'});${0:}'

  'grabFromDatabase':
    'prefix': 'grabFromDatabase'
    'body': '\$I->grabFromDatabase(\'${1:table}\', \'${2:column}\', ${3:\$criteria});${0:}'

  'grabFromRepository':
    'prefix': 'grabFromRepository'
    'body': '\$I->grabFromRepository(\'${1:entity}\', \'${2:field}\', ${3:\$params});${0:}'

  'grabFromTable':
    'prefix': 'grabFromTable'
    'body': '\$I->grabFromTable(\'${1:model}\', \'${2:column}\', ${3:\$values});${0:}'

  'grabMessageFromQueue':
    'prefix': 'grabMessageFromQueue'
    'body': '\$I->grabMessageFromQueue(\'${1:queue}\');${0:}'

  'grabRecord':
    'prefix': 'grabRecord'
    'body': '\$I->grabRecord(\'${1:model}\', ${2:\$attributes});${0:}'

  'grabServiceFromContainer':
    'prefix': 'grabServiceFromContainer'
    'body': '\$I->grabServiceFromContainer(\'${1:service}\');${0:}'

  'grabTextFrom':
    'prefix': 'grabTextFrom'
    'body': '\$I->grabTextFrom(\'${1:cssOrXPathOrRegex}\');${0:}'

  'grabValueFrom':
    'prefix': 'grabValueFrom'
    'body': '\$I->grabValueFrom(\'${1:nameOrCssOrXPath}\');${0:}'

  'grabValueFromMemcached':
    'prefix': 'grabValueFromMemcached'
    'body': '\$I->grabValueFromMemcached(\'${1:key}\');${0:}'

  'haveFacebookTestUserAccount':
    'prefix': 'haveFacebookTestUserAccount'
    'body': '\$I->haveFacebookTestUserAccount();${0:}'

  'haveFakeRepository':
    'prefix': 'haveFakeRepository'
    'body': '\$I->haveFakeRepository(\'${1:classname}\', ${2:\$methods});${0:}'

  'haveHttpHeader':
    'prefix': 'haveHttpHeader'
    'body': '\$I->haveHttpHeader(\'${1:name}\', \'${2:value}\');${0:}'

  'haveInCollection':
    'prefix': 'haveInCollection'
    'body': '\$I->haveInCollection(\'${1:collection}\', ${2:\$data});${0:}'

  'haveInDatabase':
    'prefix': 'haveInDatabase'
    'body': '\$I->haveInDatabase(\'${1:table}\', ${2:\$data});${0:}'

  'haveInRepository':
    'prefix': 'haveInRepository'
    'body': '\$I->haveInRepository();${0:}'

  'haveRecord':
    'prefix': 'haveRecord'
    'body': '\$I->haveRecord(\'${1:model}\', ${2:\$attributes});${0:}'

  'haveTestUserLoggedInOnFacebook':
    'prefix': 'haveTestUserLoggedInOnFacebook'
    'body': '\$I->haveTestUserLoggedInOnFacebook();${0:}'

  'headRequest':
    'prefix': 'headRequest'
    'body': '\$I->headRequest(\'${1:url}\');${0:}'

  'makeAResponseDump':
    'prefix': 'makeAResponseDump'
    'body': '\$I->makeAResponseDump(\'${1:name}\');${0:}'

  'makeAScreentshot':
    'prefix': 'makeAScreentshot'
    'body': '\$I->makeAScreentshot(\'${1:name}\');${0:}'

  'makeScreenshot':
    'prefix': 'makeScreenshot'
    'body': '\$I->makeScreenshot(\'${1:name}\');${0:}'

  'maximizeWindow':
    'prefix': 'maximizeWindow'
    'body': '\$I->maximizeWindow();${0:}'

  'moveBack':
    'prefix': 'moveBack'
    'body': '\$I->moveBack();${0:}'

  'moveForward':
    'prefix': 'moveForward'
    'body': '\$I->moveForward();${0:}'

  'moveMouseOver':
    'prefix': 'moveMouseOver'
    'body': '\$I->moveMouseOver(\'${1:selector}\', \'${2:offsetX}\', \'${3:offsetY}\');${0:}'

  'openFile':
    'prefix': 'openFile'
    'body': '\$I->openFile(\'${1:filename}\');${0:}'

  'pauseExecution':
    'prefix': 'pauseExecution'
    'body': '\$I->pauseExecution();${0:}'

  'persistEntity':
    'prefix': 'persistEntity'
    'body': '\$I->persistEntity(${1:\$user}, ${2:\$values});${0:}'

  'pushToExchange':
    'prefix': 'pushToExchange'
    'body': '\$I->pushToExchange(\'${1:exchange}\', \'${2:message}\');${0:}'

  'pushToQueue':
    'prefix': 'pushToQueue'
    'body': '\$I->pushToQueue(\'${1:queue}\', \'${2:message}\');${0:}'

  'pressKey':
    'prefix': 'pressKey'
    'body': '\$I->pressKey(\'${1:selector}\', ${2:\$char1}${3:, ${4:\$char2}});${0:}'

  'pressKeyDown':
    'prefix': 'pressKeyDown'
    'body': '\$I->pressKeyDown(\'${1:selector}\', \'${2:char}\'${3:, \'${4:ctrl|alt|shift|meta}\'});${0:}'

  'pressKeyUp':
    'prefix': 'pressKeyUp'
    'body': '\$I->pressKeyUp(\'${1:selector}\', \'${2:char}\'${3:, \'${4:ctrl|alt|shift|meta}\'});${0:}'

  'reloadPage':
    'prefix': 'reloadPage'
    'body': '\$I->reloadPage();${0:}'

  'resetCookie':
    'prefix': 'resetCookie'
    'body': '\$I->resetCookie(\'${1:cookie}\');${0:}'

  'resizeWindow':
    'prefix': 'resizeWindow'
    'body': '\$I->resizeWindow(${1:800}, ${2:600});${0:}'

  'runShellCommand':
    'prefix': 'runShellCommand'
    'body': '\$I->runShellCommand(\'${1:command}\');${0:}'

  'see':
    'prefix': 'see'
    'body': '\$I->see(\'${1:text}\'${2:, \'${3:selector}\'});${0:}'

  'seeCheckboxIsChecked':
    'prefix': 'seeCheckboxIsChecked'
    'body': '\$I->seeCheckboxIsChecked(\'${1:selector}\');${0:}'

  'seeCookie':
    'prefix': 'seeCookie'
    'body': '\$I->seeCookie(\'${1:cookie}\');${0:}'

  'seeCurrentUrlEquals':
    'prefix': 'seeCurrentUrlEquals'
    'body': '\$I->seeCurrentUrlEquals(\'${1:uri}\');${0:}'

  'seeCurrentUrlMatches':
    'prefix': 'seeCurrentUrlMatches'
    'body': '\$I->seeCurrentUrlMatches(\'${1:regex}\');${0:}'

  'seeElement':
    'prefix': 'seeElement'
    'body': '\$I->seeElement(\'${1:selector}\');${0:}'

  'seeElementInDOM':
    'prefix': 'seeElementInDOM'
    'body': '\$I->seeElementInDOM(\'${1:selector}\');${0:}'

  'seeEmailReceived':
    'prefix': 'seeEmailReceived'
    'body': '\$I->seeEmailReceived();${0:}'

  'seeEmailsSent':
    'prefix': 'seeEmailsSent'
    'body': '\$I->seeEmailsSent();${0:}'

  'seeErrorInField':
    'prefix': 'seeErrorInField'
    'body': '\$I->seeErrorInField(\'${1:field}\');${0:}'

  'seeErrorsInForm':
    'prefix': 'seeErrorsInForm'
    'body': '\$I->seeErrorsInForm();${0:}'

  'seeFileContentsEqual':
    'prefix': 'seeFileContentsEqual'
    'body': '\$I->seeFileContentsEqual(\'${1:text}\');${0:}'

  'seeFileFound':
    'prefix': 'seeFileFound'
    'body': '\$I->seeFileFound(\'${1:filename}\', \'${2:path}\');${0:}'

  'seeFormIsValid':
    'prefix': 'seeFormIsValid'
    'body': '\$I->seeFormIsValid();${0:}'

  'seeInCollection':
    'prefix': 'seeInCollection'
    'body': '\$I->seeInCollection(\'${1:collection}\', ${2:\$criteria});${0:}'

  'seeInCurrentUrl':
    'prefix': 'seeInCurrentUrl'
    'body': '\$I->seeInCurrentUrl(\'${1:uri}\');${0:}'

  'seeInDatabase':
    'prefix': 'seeInDatabase'
    'body': '\$I->seeInDatabase(\'${1:table}\', ${2:\$criteria});${0:}'

  'seeInField':
    'prefix': 'seeInField'
    'body': '\$I->seeInField(\'${1:selector}\', \'${2:value}\');${0:}'

  'seeInMemcached':
    'prefix': 'seeInMemcached'
    'body': '\$I->seeInMemcached(\'${1:key}\', \'${2:value}\');${0:}'

  'seeInPopup':
    'prefix': 'seeInPopup'
    'body': '\$I->seeInPopup(\'${1:text}\');${0:}'

  'seeInRepository':
    'prefix': 'seeInRepository'
    'body': '\$I->seeInRepository(\'${1:entity}\', ${2:\$params});${0:}'

  'seeInSession':
    'prefix': 'seeInSession'
    'body': '\$I->seeInSession(\'${1:key}\', \'${2:value}\');${0:}'

  'seeInShellOutput':
    'prefix': 'seeInShellOutput'
    'body': '\$I->seeInShellOutput(\'${1:text}\');${0:}'

  'seeInTable':
    'prefix': 'seeInTable'
    'body': '\$I->seeInTable(\'${1:model}\', ${2:\$values});${0:}'

  'seeInTitle':
    'prefix': 'seeInTitle'
    'body': '\$I->seeInTitle(\'${1:text}\');${0:}'

  'seeInThisFile':
    'prefix': 'seeInThisFile'
    'body': '\$I->seeInThisFile(\'${1:text}\');${0:}'

  'seeLink':
    'prefix': 'seeLink'
    'body': '\$I->seeLink(\'${1:text}\'${2:, \'${3:url}\'});${0:}'

  'seeMessageInQueueContainsText':
    'prefix': 'seeMessageInQueueContainsText'
    'body': '\$I->seeMessageInQueueContainsText(\'${1:queue}\', \'${2:text}\');${0:}'

  'seeOptionIsSelected':
    'prefix': 'seeOptionIsSelected'
    'body': '\$I->seeOptionIsSelected(\'${1:selector}\', \'${2:optionText}\');${0:}'

  'seePageNotFound':
    'prefix': 'seePageNotFound'
    'body': '\$I->seePageNotFound();${0:}'

  'seePostOnFacebookWithAttachedPlace':
    'prefix': 'seePostOnFacebookWithAttachedPlace'
    'body': '\$I->seePostOnFacebookWithAttachedPlace(\'${1:placeId}\');${0:}'

  'seeRecord':
    'prefix': 'seeRecord'
    'body': '\$I->seeRecord(\'${1:model}\', ${2:\$attributes});${0:}'

  'seeResponseCodeIs':
    'prefix': 'seeResponseCodeIs'
    'body': '\$I->seeResponseCodeIs(\'${1:code}\');${0:}'

  'seeResponseIsXMLRPC':
    'prefix': 'seeResponseIsXMLRPC'
    'body': '\$I->seeResponseIsXMLRPC();${0:}'

  'seeSessionErrorMessage':
    'prefix': 'seeSessionErrorMessage'
    'body': '\$I->seeSessionErrorMessage(${1:\$bindings});${0:}'

  'seeSessionHasErrors':
    'prefix': 'seeSessionHasErrors'
    'body': '\$I->seeSessionHasErrors();${0:}'

  'seeSessionHasValues':
    'prefix': 'seeSessionHasValues'
    'body': '\$I->seeSessionHasValues(${1:\$bindings});${0:}'

  'seeShellOutputMatches':
    'prefix': 'seeShellOutputMatches'
    'body': '\$I->seeShellOutputMatches(\'${1:regex}\');${0:}'

  'selectOption':
    'prefix': 'selectOption'
    'body': '\$I->selectOption(\'${1:selector}\', \'${2:option}\');${0:}'

  'sendAjaxGetRequest':
    'prefix': 'sendAjaxGetRequest'
    'body': '\$I->sendAjaxGetRequest(\'${1:uri}\', ${2:\$params});${0:}'

  'sendAjaxPostRequest':
    'prefix': 'sendAjaxPostRequest'
    'body': '\$I->sendAjaxPostRequest(\'${1:uri}\', ${2:\$params});${0:}'

  'sendAjaxRequest':
    'prefix': 'sendAjaxRequest'
    'body': '\$I->sendAjaxRequest(\'${1:method}\', \'${2:uri}\', ${3:\$params});${0:}'

  'sendXMLRPCMethodCall':
    'prefix': 'sendXMLRPCMethodCall'
    'body': '\$I->sendXMLRPCMethodCall(\'${1:methodName}\', [${2:parameters}]);${0:}'

  'setCookie':
    'prefix': 'setCookie'
    'body': '\$I->setCookie(\'${1:cookie}\', \'${2:value}\');${0:}'

  'signIn':
    'prefix': 'signIn'
    'body': '\$I->signIn(\'${1:username}\', \'${2:password}\');${0:}'

  'signOut':
    'prefix': 'signOut'
    'body': '\$I->signOut();${0:}'

  'sq':
    'prefix': 'sq'
    'body': '\'${1:text}\'.sq(\'${2:id}\')${0:}'

  'submitForm':
    'prefix': 'submitForm'
    'body': '\$I->submitForm(${1:selector}, array(${2:params}));${0:}'

  'switchToIFrame':
    'prefix': 'switchToIFrame'
    'body': '\$I->switchToIFrame(\'${1:name}\');${0:}'

  'switchToWindow':
    'prefix': 'switchToWindow'
    'body': '\$I->switchToWindow(\'${1:name}\');${0:}'

  'typeInPopup':
    'prefix': 'typeInPopup'
    'body': '\$I->typeInPopup(${1:\$keys});${0:}'

  'uncheckOption':
    'prefix': 'uncheckOption'
    'body': '\$I->uncheckOption(\'${1:selector}\');${0:}'

  'unselectOption':
    'prefix': 'unselectOption'
    'body': '\$I->unselectOption(\'${1:selector}\');${0:}'

  'amInsideAngularApp':
    'prefix': 'amInsideAngularApp'
    'body': '\$I->amInsideAngularApp();${0:}'

    'amOutsideAngularApp':
      'prefix': 'amOutsideAngularApp'
      'body': '\$I->amOutsideAngularApp();${0:}'

  'wait':
    'prefix': 'wait'
    'body': '\$I->wait(${1:60});${0:}'

  'waitForElement':
    'prefix': 'waitForElement'
    'body': '\$I->waitForElement(\'${1:selector}\', ${2:60});${0:}'

  'waitForElementChange':
    'prefix': 'waitForElementChange'
    'body': '\$I->waitForElementChange(\'${1:selector}\', ${2:callback}, ${3:60});${0:}'

  'waitForElementNotVisible':
    'prefix': 'waitForElementNotVisible'
    'body': '\$I->waitForElementNotVisible(\'${1:selector}\', ${2:60});${0:}'

  'waitForElementVisible':
    'prefix': 'waitForElementVisible'
    'body': '\$I->waitForElementVisible(\'${1:selector}\', ${2:60});${0:}'

  'waitForJS':
    'prefix': 'waitForJS'
    'body': '\$I->waitForJS(\'${1:script}\', ${2:60});${0:}'

  'waitForText':
    'prefix': 'waitForText'
    'body': '\$I->waitForText(\'${1:text}\', ${2:60}${3:, \'${4:selector}\'});${0:}'
