'.text.html.php, .source.php':
  'editor':
    'completions': [
      'acceptPopup'
      'amHttpAuthenticated'
      'amLoggedAs'
      'amInPath'
      'amOnPage'
      'amOnSubdomain'
      'appendField'
      'attachFile'
      'blur'
      'cancelPopup'
      'checkOption'
      'cleanDir'
      'cleanupRedis'
      'clearMemcache'
      'click'
      'clickWithRightButton'
      'copyDir'
      'deleteDir'
      'deleteFile'
      'deleteThisFile'
      'dontSee'
      'dontSeeCheckboxIsChecked'
      'dontSeeCookie'
      'dontSeeCurrentUrlEquals'
      'dontSeeCurrentUrlMatches'
      'dontSeeElement'
      'dontSeeElementInDOM'
      'dontSeeInCollection'
      'dontSeeInCurrentUrl'
      'dontSeeInDatabase'
      'dontSeeInField'
      'dontSeeInMemcached'
      'dontSeeInRepository'
      'dontSeeInShellOutput'
      'dontSeeInTable'
      'dontSeeInThisFile'
      'dontSeeInTitle'
      'dontSeeLink'
      'dontSeeOptionIsSelected'
      'doubleClick'
      'dragAndDrop'
      'executeInGuzzle'
      'executeInSelenium'
      'executeJS'
      'fillField'
      'flushToDatabase'
      'focus'
      'getName'
      'grabCookie'
      'grabFacebookTestUserAccessToken'
      'grabFacebookTestUserEmail'
      'grabFacebookTestUserFirstName'
      'grabFacebookTestUserLoginUrl'
      'grabFromCollection'
      'grabFromCurrentUrl'
      'grabFromDatabase'
      'grabFromRepository'
      'grabFromTable'
      'grabMessageFromQueue'
      'grabRecord'
      'grabServiceFromContainer'
      'grabTextFrom'
      'grabValueFrom'
      'grabValueFromMemcached'
      'haveFacebookTestUserAccount'
      'haveFakeRepository'
      'haveHttpHeader'
      'haveInCollection'
      'haveInDatabase'
      'haveInRepository'
      'haveRecord'
      'haveTestUserLoggedInOnFacebook'
      'headRequest'
      'makeAResponseDump'
      'makeAScreenshot'
      'makeScreenshot'
      'maximizeWindow'
      'moveBack'
      'moveForward'
      'moveMouseOver'
      'openFile'
      'pauseExecution'
      'persistEntity'
      'pushToExchange'
      'pushToQueue'
      'pressKey'
      'pressKeyDown'
      'pressKeyUp'
      'reloadPage'
      'resetCookie'
      'resizeWindow'
      'runShellCommand'
      'see'
      'seeCheckboxIsChecked'
      'seeCookie'
      'seeCurrentUrlEquals'
      'seeCurrentUrlMatches'
      'seeElement'
      'seeElementInDOM'
      'seeEmailReceived'
      'seeEmailsSent'
      'seeErrorInField'
      'seeErrorsInForm'
      'seeFileContentsEqual'
      'seeFileFound'
      'seeFormIsValid'
      'seeInCollection'
      'seeInCurrentUrl'
      'seeInDatabase'
      'seeInField'
      'seeInMemcached'
      'seeInPopup'
      'seeInRepository'
      'seeInSession'
      'seeInShellOutput'
      'seeInTable'
      'seeInTitle'
      'seeInThisFile'
      'seeLink'
      'seeMessageInQueueContainsText'
      'seeOptionIsSelected'
      'seePageNotFound'
      'seePostOnFaecbookWithAttachedPlace'
      'seeRecord'
      'seeResponseCodeIs'
      'seeResponseIsXMLRPC'
      'seeSessionErrorMessage'
      'seeSessionHasErrors'
      'seeSessionHasValues'
      'seeSheelOutputMatches'
      'selectOption'
      'sendAjaxGetRequest'
      'sendAjaxPostRequest'
      'sendAjaxRequest'
      'sendXMLRPCMethodCall'
      'setCookie'
      'signIn'
      'signOut'
      'sq'
      'submitForm'
      'switchToIFrame'
      'switchToWindow'
      'typeInPopup'
      'uncheckOption'
      'unselectOption'
      'wait'
      'waitForElement'
      'waitForEmelentChange'
      'waitForElementNotVisible'
      'waitForElementVisible'
      'waitForJS'
      'waitForText'
    ]
